* { box-sizing: border-box; margin: 0; padding: 0; }

.container { max-width: 1170px; height: 100%; padding-left: 10px; padding-right: 10px; margin: 0 auto; }

.content { display: flex; flex-direction: column; justify-content: center; align-items: center; }
.content h2 { text-align: center; }
.content .choose-form { width: 100%; display: flex; }
.content .choose-form div { width: 50%; display: flex; justify-content: center; align-items: center; }
